* {
    box-sizing: border-box;
    font-family: 'Source Serif 4', sans-serif;
    margin: 0px;
  }

  .main-body {
    max-width: 600px;
    margin-left: 15%;
    margin-right: 15%;
  
  }

  header {
    text-align: center;
    background-color: #384975;
    color: white;
    margin: 0px;
    padding: 25px;
    font-size: 30px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

h1,p {
    text-align: center;

}

h1 {
    font-weight: bold;

}

legend {
font-weight: bold;
font-size: 1.25em

}

.news-letter {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.line {
    border-top: 7px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 18px;
    width: 80%;
}
  
.line2 {
    border-bottom: 2px solid black;
    width: 80%;
    margin-bottom: 45px;
}




fieldset {
    border: none;
    margin: 0px;
    padding: 30px;

}



input {
    border: none;
    background-color: #ececec;
    font-size: 1.25em;
    text-align: end;
    
    
}

input[type="text"],
select[id="province"],
textarea[id="user_topics"]{
    width: 20em;
    margin: 20px 10px 20px 10px;
    padding: 15px;
   
}

select#province {
    width: 20rem;

}

select {
    border: none;
    background-color: #ececec;
    font-size: 14pt;
    text-align: end;
    color: grey;
    padding: 15px;
    margin: 15px;

}


.line3 {
    border-bottom: 2px solid black;

}

textarea {
    border: none;
    background-color: #e8e8e8;
    padding: 15px;
    text-align: end;
    font-size: 20px;
    border-radius: 5px;
  }
  

button {
    background-color: #57decc;
    color: white;
    padding: 20px 40px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-style: normal;
    border-width: 1px 1px 3px;
    border: none;
    
}

  
   

  @media (min-width: 768px) {

    .main-body {
        max-width: 600px;
        margin: auto;
    }
    
    .form-flex {
        display: flex;
        align-items: center;

    }

    label {
        align-items: center;
    
    }

   .container {
        display: flex;
        flex-direction: row;
        align-items: baseline
        
    }


    button {
        background-color: #57decc;
        color: white;
        padding: 19px 39px 18px 39px;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        border-width: 1px 1px 3px;
        margin-bottom: 10px;
        border: none;
    }
  }