* {
    box-sizing: border-box;
    font-family: 'Source Serif 4', sans-serif;
    margin: 0px;
  }

  header {
    text-align: center;
    background-color: #384975;
    color: white;
    margin: 0px;
    padding: 25px;
    font-size: 30px;
  }



h1,p {
    text-align: center;

}

h1 {
    font-weight: bold;

}

legend {
font-weight: bold;
font-size: 1.25em

}

.line {
    border-top: 7px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
}
  
.line2 {
    border-bottom: 2px solid black;
}

fieldset {
    border: none;
    margin: 0px;
    padding: 30px;
    

}

form {
    max-width: 300px;
    margin: auto;
    padding-top: 5px;
    font-size: 22px;
       
}

.flex-flex{
display: flex;
justify-content: flex-end;

}

input {
    border: none;
    background-color: #ececec;
    font-size: 14pt;
    text-align: end;
    color: black;
    padding: 2vh;
    margin: 15px;
  

}



select {
    border: none;
    background-color: #ececec;
    font-size: 14pt;
    text-align: end;
    color: grey;
    padding: 15px;
    margin: 15px;

}

.container {
display: flex;
align-items: flex-end;
justify-content: space-between;

}

.line3 {
    border-bottom: 2px solid black;

}

textarea {
    border: none;
    background-color: #e8e8e8;
    padding: 15px;
    text-align: end;
    font-size: 20px;
    border-radius: 5px;
  }
  

  button {
    background-color: #57decc;
    color: white;
    padding: 20px 40px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-style: normal;
    border-width: 1px 1px 3px;
    border: none;
    
    
  }
   

  @media (min-width: 768px) {
    
    .form-flex {
        display: flex;
        align-items: center;

    }


    form {
        max-width: 600px;
        margin: 10px auto;
    }

    .container {
        display: flex;
        align-items: center;
        flex-basis: 1;
        
        }

    button {
        background-color: #57decc;
        color: white;
        padding: 19px 39px 18px 39px;
        text-align: center;
        
        font-size: 15px;
        font-style: normal;
        border-width: 1px 1px 3px;
        margin-bottom: 10px;
        border: none;
    }
  }